<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--<![endif]-->
<!-- Begin Head -->

<head>
    <title>多期排行榜</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
    <!--Start Style -->
    <link rel="stylesheet" type="text/css" th:href="@{~/static/css/fonts.css}" href="../static/css/fonts.css" >
    <link rel="stylesheet" type="text/css" th:href="@{~/static/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{~/static/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css" >
    <link rel="stylesheet" type="text/css" th:href="@{~/static/css/icofont.min.css}" href="../static/css/icofont.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{~/static/css/style.css}" href="../static/css/style.css" >
    <link rel="stylesheet" id="theme-change" type="text/css" href="">
</head>


<body>
<div th:include="fixed-module::loader"></div>
<!-- Main Body -->
<div class="page-wrapper">
    <!-- Header Start -->
    <div th:include="fixed-module::header"></div>

    <!-- Sidebar Start -->
    <div th:include="fixed-module::aside"></div>

    <!-- Container Start -->
    <div class="page-wrapper">
        <div class="main-content" th:fragment="page_member_table" id="page_member_table">
            <!-- Page Title Start -->
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-title-wrapper">
                        <div class="page-title-box">
                            <h2 class="page-title bold">多期排行榜-完成率</h2>
                        </div>
                        <div class="breadcrumb-list">
                            <ul>
                                <li class="breadcrumb-link">
                                    <a href="javascript:void(0);"><i class="fas fa-home mr-2"></i>Home</a>
                                </li>
                                <li class="breadcrumb-link active">Ranking-Range</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row ">
                <!-- Dragable Table Card-->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="card table-card ">
                        <div class="card-header pb-0 ">
                            <h4 class="" >完成率排行
                            </h4>
                            <div class="form-group form-inline mb-0 mt-3">
                                <span>当前排名表从  </span>
                                <select class="custom-select custom-select-sm" id="stage-select" onchange="changeLimitParams()">
                                    <option value="0" selected>第七期</option>
                                    <option value="1">第六期</option>
                                    <option value="2">第五期</option>
                                    <option value="3">第四期</option>
                                    <option value="stageId">stageName</option>
                                </select>
                                <span>  前开始,共统计 </span>
                                <input id="stage-num" value="35" type="number" min="0" max="80" placeholder="During 1~50"
                                       onchange="changeLimitParams()" style="width: 50px;height: 30px;padding: 0 0 0 10px;margin: 0 10px;">
                                <span> 个期次.</span>
                            </div>
                        </div>

                        <div class="card-body ">
                            <div class="chart-holder ">
                                <div class="table-responsive ">
                                    <table id="example" class="table table-hover table-striped advance-table mb-0 vertically-middle ">
                                        <thead>
                                        <tr>
                                            <th>排名</th>
                                            <th>组织名</th>
                                            <th>组织人数</th>
                                            <th>达成率</th>
                                        </tr>
                                        </thead>
                                        <tbody class="dragable-container " id="member_table">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--页码-->
                        <div class="card-footer text-right pt-0 box-footer" style="position: relative;">
                            <nav class="d-inline-block ">
                                <ul class="pagination mb-0 ">
                                    <li class="page-item disabled ">
                                        <a class="page-link" href="javascript:void(0);" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                                    </li>
                                    <li class="page-item active "><a class="page-link " href="javascript:void(0); ">1</a></li>
                                    <li class="page-item ">
                                        <a class="page-link " href="javascript:void(0); ">2</a>
                                    </li>
                                    <li class="page-item "><a class="page-link " href="javascript:void(0); ">3</a></li>
                                    <li class="page-item ">
                                        <a class="page-link " href="javascript:void(0); "><i class="fas fa-chevron-right "></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card chart-card ">
                        <div class="card-header">
                            <h4>近10期组织参与率-折线图</h4>
                        </div>
                        <div class="card-body ">
                            <div id="LineChartManyOrgReachRate" style="height: 500px"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card chart-card ">
                        <div class="card-header">
                            <h4>近10期组织排名动画-柱状图</h4>
                            <button type="button" onclick="resetAnim()" id="resetAnimButton" class="btn btn-primary squer-btn sm-btn mt-2">重置动画</button>
                        </div>

                        <div class="card-body ">
                            <div id="AnimBarECharts" style="height: 500px"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer -->
            <div th:include="fixed-module::footer"></div>


        </div>
    </div>
</div>


<!-- Script Start -->
<script th:src="@{~/static/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script th:src="@{~/static/js/popper.min.js}" src="../static/js/popper.min.js"></script>
<script th:src="@{~/static/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
<script th:src="@{~/static/js/custom.js}" src="../static/js/custom.js"></script>
<!--引入Echarts-->
<script src="../static/js/echarts.min.js"  th:src="@{~/static/js/echarts.min.js}" ></script>

<script>

    function resetAnim(){

        fillAnimBarEcharts();
    }

    $(function (){
        LineEcharts();
        fillAnimBarEcharts();
    })

    function LineEcharts(){

        const chartDom = document.getElementById('LineChartManyOrgReachRate');
        const myChart = echarts.init(chartDom);
        let option;

        $.get("/OrgRanking/getEchartsLineData").done(function (data) {

            let series_count=[];
            for (let i = 0; i < data.length-1; i++) {
                series_count[i]={
                    type: 'line',
                    smooth: true,
                    seriesLayoutBy: 'row',
                    emphasis:{
                        focus:'series'
                    }
                }
            }

            console.log(data);
            option = {
                dataset:{
                    source:data
                },
                tooltip: {
                    trigger: 'axis',
                },
                legend: {
                    type:'scroll'
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',

                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,

                },
                yAxis: {
                    type: 'value'
                },
                series: series_count
            };
            option && myChart.setOption(option);
            window.addEventListener('resize', () => {
                console.log('resize')
                myChart.resize()
            })
        })
    }


    setTimeAnimBarEchartsData=null;
    updateAnimBarEchartsData=null;
    function fillAnimBarEcharts(){
        $.get("/OrgRanking/getEchartsLineData").done(function (data) {

            const chartDom = document.getElementById('AnimBarECharts');
            const myChart = echarts.init(chartDom);

            myChart.clear();
            clearInterval(updateAnimBarEchartsData);
            clearTimeout(setTimeAnimBarEchartsData);

            let option;

            let data_all = [];
            //去掉自带的product
            data[0][0]="";

            //转置
            let array1=data;
            let newArray = array1[0].map(function(col, i) {
                return array1.map(function(row) {
                    return row[i];
                })
            });
            data_all=newArray;


            let data_r = data_all[1];
            let index = 1;
            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    },
                    formatter: function (params) {
                        let relVal = params[0].name
                        for (let i = 0, l = params.length; i < l; i++) {
                            relVal += '<br/>' + params[i].marker +'完成率 :   '+ params[i].value + ' %'
                        }
                        return relVal
                    }
                },
                title: {
                    subtext: '数据来源当前用户所管理的组织完成率'
                },
                legend: {
                    data: ['2018级朝鲜语2+2（2）班']
                },
                xAxis: {
                    max: 'dataMax'
                },
                yAxis: {
                    type: 'category',
                    data: data_all[0],
                    inverse: true,
                    animationDuration: 300,
                    animationDurationUpdate: 300,
                    max: 7 // only the largest 3 bars will be displayed
                },
                series: [
                    {
                        colorBy: 'data',
                        realtimeSort: true,
                        type: 'bar',
                        data: data_r,
                        label: {
                            show: true,
                            position: 'insideRight',
                            valueAnimation: true,
                            distance: -1,
                            formatter: '{orgName|{b}}   {percent|{c}%}',
                            rich: {
                                percent: {
                                    color: '',
                                    width: -1,
                                    fontSize: 14
                                },
                                orgName: {
                                    color: 'white'
                                }
                            }
                        },
                        itemStyle: {
                            decal: {
                                symbol: 'circle',
                                color: 'rgba(0, 0, 0, .2)',
                                rotation: 0.5,
                                dashArrayX: 1,
                                dashArrayY: 3
                            }
                        }
                    }
                ],

                animationDuration: 0,
                animationDurationUpdate: 3000,
                animationEasing: 'sinusoidalOut',
                animationEasingUpdate: 'sinusoidalOut'
            };


            function run() {
                let data = option.series[0].data;
                option.series[0].name = data_all[index][0];
                option.title.text = data_all[index][0];
                for (let i = 0; i < data.length; i++) {
                    data[i] = data_all[index][i];
                }
                index++;
                myChart.setOption(option);
            }
            setTimeAnimBarEchartsData =setTimeout(function () {
                run();
            }, 0);
            //4000等待，但是动画是3000，这里多了1000秒是为了让用户看清排名和数据
            updateAnimBarEchartsData = setInterval(function () {
                run();
            }, 4000);

            option && myChart.setOption(option);
            window.addEventListener('resize', () => {
                console.log('resize')
                myChart.resize()
            })

        });

    }



</script>
</body>
<!--字符串格式化工具-->
<script>
    /**
     函数:格式化字符串
     参数：str:字符串模板； data:数据
     调用方式:formatString("api/values/{id}/{name}",{id:101,name:"test"});
     formatString("api/values/{0}/{1}",101,"test");
     */
    function formatString(str, data) {
        if (!str || data == undefined) {
            return str;
        }

        if (typeof data === "object") {
            for (var key in data) {
                if (data.hasOwnProperty(key)) {
                    str = str.replace(new RegExp("\{" + key + "\}", "g"), data[key]);
                }
            }
        } else {
            var args = arguments,
                reg = new RegExp("\{([0-" + (args.length - 1) + "])\}", "g");
            return str.replace(reg, function(match, index) {
                return args[index - (-1)];
            });
        }
        return str;
    }
</script>
<script>

    $(function(){
        //填充选择框
        fillStageSelectAutoLoad();
        //默认选择selector中的第一个option
        selectOptionByValue(0);

        const startStageIndex=$("#stage-select").find("option:selected").val();
        const stageNum=$("#stage-num").val();

        fetchRankingByLimitParams(startStageIndex,stageNum);
    })

    function changeLimitParams(){
        const startStageIndex=$("#stage-select").find("option:selected").val();
        const stageNum=$("#stage-num").val();

        fetchRankingByLimitParams(startStageIndex,stageNum);
    }

    function fillRankingTable(str){
        $("#member_table").html(str);
    }

    function fetchRankingByLimitParams(startIndex,stageCountNums){
        $.get("/OrgRanking/RangeRanking",{startIndex:startIndex,stageCountNums:stageCountNums}).done(function(data){
            let str="";

            for(let i=0;i<data.length;i++){
                const ranking=data[i]['ranking'];
                const orgLastName=data[i]['orgLastName'];
                const orgNumSize=data[i]['orgNumSize'];
                const completionRate=(data[i]['completionRate']*100).toFixed(2)
                const pathId=data[i]['pathId'];

                const firstColorClass="bg-danger";
                const secondColorClass="bg-warning";
                const thirdColorClass="bg-info";
                const otherColorClass="bg-success";

                let colorClassName=otherColorClass;
                switch (ranking) {
                    case 1:
                        colorClassName=firstColorClass;
                        break;
                    case 2:
                        colorClassName=secondColorClass;
                        break;
                    case 3:
                        colorClassName=thirdColorClass;
                        break;
                }

                str+=''
                    +'<tr >'
                    +    '<td>'
                    +           '<span  style="padding: 5px 15px;" class="text-white ' + colorClassName + '">'
                    +               ranking
                    +           '</span>'
                    +    '</td>'
                    +    '<td>'
                    +           '<span class="img-thumb ">'
                    +               '<a href="#" onclick="forwardMemberPageByPathId('+pathId+')"><span class="ml-2 ">'+orgLastName+'</span></a>'
                    +           '</span>'
                    +    '</td>'
                    +    '<td>'
                    +           '<span class="img-thumb ">'
                    +               '<span class="ml-2 ">'+orgNumSize+'</span>'
                    +           '</span>'
                    +    '</td>'
                    +    '<td class="'+(completionRate>60?"success":"danger")+' font-weight-bold lead">'
                    +        completionRate+'%'
                    +    '</td>'
                    +'</tr>'

                ;
            }

            fillRankingTable(str);
            return str;
        }).fail(function(){
            console.log("请求失败！");
            return "请求失败！"
        })
    }

    function forwardMemberPageByPathId(pathId){
        $.get("/User/switchPath",{id:pathId}).done(function(){
            window.open("/Stage/getAllStageByUid");
        })
    }

    /**
     * 填充stage选择框
     */
    function fillStageSelectAutoLoad(){
        $.get("/Stage/getStageByLimitNum",{num:10}).done(function(data){
            if(data!=null&&data.length!=0){
                $("#stage-select").empty();
                for (let i = 0; i < data.length; i++) {
                    let option = "<option value='"+i+"'>"+data[i].name+"</option>";
                    $("#stage-select").append(option);
                }
            }
        })
    }

    function selectOptionByValue(selectorIdStr,value){
        const findStr="option[value="+value+"]";
        $("#"+selectorIdStr).find(findStr).attr("selected",true);
    }


</script>

</html>