<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--<![endif]-->
<!-- Begin Head -->

<head>
    <title>排行榜</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
    <!--Start Style -->
    <link rel="stylesheet" type="text/css" th:href="@{~/static/css/fonts.css}" href="../static/css/fonts.css" >
    <link rel="stylesheet" type="text/css" th:href="@{~/static/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{~/static/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css" >
    <link rel="stylesheet" type="text/css" th:href="@{~/static/css/icofont.min.css}" href="../static/css/icofont.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{~/static/css/style.css}" href="../static/css/style.css" >
    <link rel="stylesheet" id="theme-change" type="text/css" href="">
</head>


<body>
<div th:include="fixed-module::loader"></div>
<!-- Main Body -->
<div class="page-wrapper">
    <!-- Header Start -->
    <div th:include="fixed-module::header"></div>

    <!-- Sidebar Start -->
    <div th:include="fixed-module::aside"></div>

    <!-- Container Start -->
    <div class="page-wrapper">
        <div class="main-content" th:fragment="page_member_table" id="page_member_table">
            <!-- Page Title Start -->
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-title-wrapper">
                        <div class="page-title-box">
                            <h2 class="page-title bold">排行榜-当期完成率</h2>
                        </div>
                        <div class="breadcrumb-list">
                            <ul>
                                <li class="breadcrumb-link">
                                    <a href="javascript:void(0);"><i class="fas fa-home mr-2"></i>Home</a>
                                </li>
                                <li class="breadcrumb-link active">Ranking-List</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row ">
                <!-- Dragable Table Card-->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="card table-card ">
                        <div class="card-header pb-0 ">
                            <h4 class="" th:text="'完成率排行TOP'+${ONE_STAGE_LIST.size()}">完成率排行TOP999
                            </h4>
                            <p class="card-desc ">
                                数据来源期次：
                                <span></span>
                            </p>
                        </div>

                        <div class="card-body ">
                            <div class="chart-holder ">
                                <div class="table-responsive ">
                                    <table id="example" class="table table-hover table-striped advance-table mb-0 vertically-middle ">
                                        <thead>
                                        <tr>
                                            <th>排名</th>
                                            <th>组织名</th>
                                            <th>组织人数</th>
                                            <th>达成率</th>
                                            <th>趋势</th>
                                        </tr>
                                        </thead>
                                        <tbody class="dragable-container " id="member_table">
                                        <tr th:each="orgRanking:${ONE_STAGE_LIST}">
                                            <td>
                                                <span th:text="${orgRankingStat.count}"  class="bg-danger text-white" style="padding: 5px 15px;"
                                                      hidden th:hidden="${orgRankingStat.count ne 1}"></span>

                                                <span th:text="${orgRankingStat.count}"  class="bg-warning text-white" style="padding: 5px 15px;"
                                                      hidden th:hidden="${orgRankingStat.count ne 2}"></span>

                                                <span th:text="${orgRankingStat.count}"  class="bg-info text-white" style="padding: 5px 15px;"
                                                      hidden th:hidden="${orgRankingStat.count ne 3}"></span>

                                                <span th:text="${orgRankingStat.count}"  th:hidden="${orgRankingStat.count le 3}" style="padding: 5px 15px;">
                                                    1
                                                </span>
                                            </td>
                                            <td>
                                                <span class="img-thumb ">
                                                    <a href="#"
                                                       th:data-index="${orgRanking.pathId}" th:onclick="forwardMemberPageByPathId(this.getAttribute('data-index'))">
                                                        <span class="ml-2 " th:text="${orgRanking.orgLastName}">19信管</span>
                                                    </a>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="img-thumb ">
                                                    <span class="ml-2 " th:text="${orgRanking.orgNumSize}">40</span>
                                                </span>
                                            </td>
                                            <td class="success font-weight-bold lead"
                                                th:class="(${orgRanking.completionRate ge 0.6}? 'success':'danger')+' font-weight-bold lead'"
                                                th:text="${#numbers.formatDecimal(orgRanking.completionRate*100,2,'COMMA',2,'POINT')}+'%'">
                                                99.9%
                                            </td>
                                            <td>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" style="padding:1px;margin-right:2px" class="success"
                                                     th:class="${orgRanking.rankingTrend>=0?'success':'danger fa-rotate-180'}"  >
                                                    <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"></path>
                                                </svg>
                                                <span th:text="${orgRanking.rankingTrend<0?-orgRanking.rankingTrend:orgRanking.rankingTrend}"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--页码-->
                        <div class="card-footer text-right pt-0">
                            <nav class="d-inline-block ">
                                <ul class="pagination mb-0 ">
                                    <li class="page-item disabled ">
                                        <a class="page-link" href="javascript:void(0);" tabindex="-1"><i
                                                class="fas fa-chevron-left"></i></a>
                                    </li>
                                    <li class="page-item active "><a class="page-link "
                                                                     href="javascript:void(0); ">1</a></li>
                                    <li class="page-item ">
                                        <a class="page-link " href="javascript:void(0); ">2</a>
                                    </li>
                                    <li class="page-item "><a class="page-link " href="javascript:void(0); ">3</a></li>
                                    <li class="page-item ">
                                        <a class="page-link " href="javascript:void(0); "><i
                                                class="fas fa-chevron-right "></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer -->
            <div th:include="fixed-module::footer"></div>


        </div>
    </div>
</div>


<!-- Script Start -->
<script th:src="@{~/static/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script th:src="@{~/static/js/popper.min.js}" src="../static/js/popper.min.js"></script>
<script th:src="@{~/static/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
<script th:src="@{~/static/js/custom.js}" src="../static/js/custom.js"></script>

</body>
<script>
    function forwardMemberPageByPathId(pathId){
        $.get("/User/switchPath",{id:pathId}).done(function(){
            window.open("/memberTable");
        })
    }

</script>

</html>