<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ll.youthlearn.mapper.IStageMapper">

    <resultMap id="StageMapper" type="com.ll.youthlearn.entity.Stage">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="stage" column="stage"></result>
        <collection property="members" ofType="com.ll.youthlearn.entity.MemberEachStage" javaType="java.util.ArrayList">
            <id         property="id"           column="mid"></id>
            <result     property="member_id"    column="member_id"></result>
            <result     property="timestamp"    column="timestamp"></result>
            <result     property="stage_id"     column="stage_id"></result>
            <result     property="user_id"      column="user_id"></result>
        </collection>
    </resultMap>
    <select id="selectStageListByUserId" resultMap="StageMapper" parameterType="int">
        select  s.id, name, stage,mes.id as mid, member_id, timestamp, stage_id, user_id
        from t_stage s right join t_member_each_stage mes
            on s.id=mes.stage_id
        where mes.user_id=#{userId}
        order by mid(stage,13,20) desc
    </select>

</mapper>